<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080127458133-n4jbubc0caa2el00han4vdatjc68brs4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080127458133-n4jbubc0caa2el00han4vdatjc68brs4</string>
	<key>API_KEY</key>
	<string>AIzaSyD6YMrGahLawoD7GcsOgmNF4aQqnrP3TSU</string>
	<key>GCM_SENDER_ID</key>
	<string>1080127458133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awake.eventTrack.minne</string>
	<key>PROJECT_ID</key>
	<string>minne-map-loc</string>
	<key>STORAGE_BUCKET</key>
	<string>minne-map-loc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080127458133:ios:3d0d802cae53eec8a3fddc</string>
	<key>DATABASE_URL</key>
	<string>https://minne-map-loc.firebaseio.com</string>
</dict>
</plist>